body {
    font-family: 'Montserrat-Black', sans-serif;
}

#title {
    padding-bottom: 40px;
}

h1 {
    font-family: 'Montserrat-Black', sans-serif;
    line-height: 1.5;
    font-weight: 900;
    font-size: 3.5rem;
}

h2 {
    font-family: 'Montserrat-Bold', sans-serif;
    line-height: 1.5;
    font-weight: 700;
    font-size: 3rem;
}

h2 {
    font-family: 'Montserrat-Bold', sans-serif;
    line-height: 1.5;
    font-weight: 900;
    font-size: 3rem;
}

p {
    color: #8f8f8f;
}

/* Sections */

.coloured-section {
    background-color: #ff4c68;
    color: whitesmoke;
}

.uncoloured-section {
    background-color: #fff;
}

/* Navigation bar */

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.container-fluid {
    padding: 2% 15% 3%;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-Light', sans-serif;
}

/* Title */

.title-img {
    border-radius: 4rem;
    padding-left: 20px;
    width: 35%;
    height: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 10%;
}

/* Download Buttons */

.download-btn {
    margin: 5% 3% 5% 0;
}

/* Features */

#features {
    padding: 7% 15%;
    text-align: center;
    position: relative;
}

.feature-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-icon:hover {
    color: #ff4c68;
}

/* Testimonials section */

#testimonials {
    text-align: center;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonials-img {
    width: 150px;
    height: 150px;
    border-radius: 500px;
    margin: 20px;
}

#press {
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    padding: 20px 20px 50px;
    width: 15%;
}

/* Pricing */

#pricing {
    text-align: center;
    padding: 100px;
}

.pricing-btn {
    width: 100%;
}

.pricing-column {
    padding: 3% 2%;
}

/* CTA Section */

#cta {
    text-align: center;
    padding: 3% 15%;
    line-height: 1.5;
}

.cta-h3 {
    font-family: 'Montserrat-Black', sans-serif;
    line-height: 1.5;
    font-weight: 900;
    font-size: 3.5rem;
}

/* Footer */

#footer {
    padding: 4% 15%;
    text-align: center;
}

.footer-icon {
    padding: 20px 10px;
}

/* Media Query section */

@media (max-width: 1028px) {
    
    .title-description {
        text-align: center;
    }

    .title-img {
        position: static;
        transform: rotate(0);
        width: 90%;
        height: 100%;
        text-align: center;
    }
    
}